# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
* @GoogleCloudPlatform/vertex-ai-samples-contributors @GoogleCloudPlatform/caiis-tw

# matching_engine folder
/matching_engine @shenzhimo2 @ivanmkc

/tabnet/tabnet_vertex_tutorial.ipynb @longtle

/migration @andrewferlitsch
/explainabl_ai
/pipelines @andrewferlitsch
/ml_metadata @andrewferlitsch
/model_monitoring @andrewferlitsch
/tensorboard @zbl94

/model_monitoring/model_monitoring.ipynb @mco-gh
/ml_metadata/sdk-metric-parameter-tracking-for-custom-jobs.ipynb @jialuzh
/ml_metadata/sdk-metric-parameter-tracking-for-locally-trained-models.ipynb @jialuzh
/ml_metadata/vertex-pipelines-ml-metadata.ipynb @sararob
/vizier/gapic-vizier-multi-objective-optimization.ipynb @halio-g
/feature_store/gapic-feature-store.ipynb @diemtvu
/managed_notebooks @GoogleCloudPlatform/notebooks-team
/pipelines/google_cloud_pipeline_components_bqml_text.ipynb @inardini
/pipelines/google_cloud_pipelines_dataproc_tabular @inardini
/automl/automl_forecasting_bqml_arima_plus_comparison.ipynb @TheMichaelHu
/automl/automl_tabular_on_vertex_pipelines.ipynb @helinwang
/custom/custom_training_tensorboard_profiler.ipynb @gericdong
/workbench/spark/spark_sample_notebook.ipynb @bradmiro
/workbench/exploratory_data_analysis/explore_data_in_bigquery_with_workbench.ipynb @alokpattani
