# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
* @vertex-ai-samples-contributors  @GoogleCloudPlatform/cloudml-samples-owners

# official notebook folders
/experiments @inardini
/explainabl_ai @aferlitsch
/matching_engine @shenzhimo2
/migration @aferlitsch
/pipelines @aferlitsch

# official notebooks
/automl/automl_forecasting_bqml_arima_plus_comparison.ipynb @TheMichaelHu
/automl/automl_tabular_on_vertex_pipelines.ipynb @helinwang
/endpoints/sdk-private-endpoint.ipynb @nayaknishant
/feature_store/gapic-feature-store.ipynb @protorganizer @diemtvu
/feature_store/sdk-feature-store.ipynb @nayaknishant
/managed_notebooks @GoogleCloudPlatform/notebooks-team
/ml_metadata/sdk-metric-parameter-tracking-for-custom-jobs.ipynb @jialuzh
/ml_metadata/sdk-metric-parameter-tracking-for-locally-trained-models.ipynb @jialuzh
/ml_metadata/vertex-pipelines-ml-metadata.ipynb @sararob
/model_monitoring/model_monitoring.ipynb @mco-gh
/pipelines/google_cloud_pipeline_components_bqml_text.ipynb @inardini
/pipelines/google_cloud_pipelines_dataproc_tabular @inardini
/tabnet/tabnet_vertex_tutorial.ipynb @longtle
/vizier/gapic-vizier-multi-objective-optimization.ipynb @halio-g
