# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

# matching_engine folder
/matching_engine @shenzhimo2

/migration @aferlitsch
/explainabl_ai @aferlitsch
/pipelines @aferlitsch
