# Doc about format of requirement file
# https://pip.pypa.io/en/stable/reference/requirements-file-format

--extra-index-url https://download.pytorch.org/whl/cu118
--extra-index-url https://huggingface.github.io/autogptq-index/whl/cu118/

# keep sorted
accelerate==0.31.0
auto_gptq==0.7.1+cu118
autoawq==0.2.5
bitsandbytes==0.43.2
cloudml-hypertune==0.1.0.dev6
datasets==2.19.2
deepspeed==0.15.1
diffusers==0.25.1
fsspec==2024.3.1
gcsfs==2024.3.1
lm_eval==0.4.3
ninja==1.11.1 # Needed to avoid `ninja 1.11.1.1 is not supported on this platform` error
optimum==1.17.1
peft==0.12.0
pynvml==11.5.3
torch==2.2.2+cu118
torchvision==0.17.2+cu118
transformers==4.43.1
trl==0.9.6
wandb==0.17.1
