# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# Our Global Owners: @andrewferlitsch @aribray @dizcology @ivanmkc @morgandu @telpirion @vinnysenthil   
*       @GoogleCloudPlatform/cloudml-samples-owners

# Notebooks
/notebooks					@ivanmkc

# Official Notebooks


# Community Notebooks
/notebooks/community/sdk/SDK_FBProphet_Forecasting_Online.ipynb			@brianchunkang


# Community Content
/community-content			@morgandu
/community-content/tf_agents_bandits_movie_recommendation_with_kfp_and_vertex_sdk	@yinghsienwu



# Official Community Content
