# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# Our Global Owners: @andrewferlitsch @aribray @dizcology @ivanmkc @morgandu @telpirion @vinnysenthil   
*       @GoogleCloudPlatform/cloudml-samples-owners

# Notebooks
/notebooks					@ivanmkc

# Official Notebooks

notebooks/official/model_monitoring/model_monitoring.ipynb  @mco-gh
notebooks/official/ml_metadata/sdk-metric-parameter-tracking-for-custom-jobs.ipynb  @jialuzh
notebooks/official/ml_metadata/sdk-metric-parameter-tracking-for-locally-trained-models.ipynb  @jialuzh
notebooks/official/vizier/gapic-vizier-multi-objective-optimization.ipynb  @halio-g
notebooks/official/feature_store/gapic-feature-store.ipynb  @protorganizer

# Community Notebooks



# Community Content
/community-content			@morgandu
/community-content/tf_agents_bandits_movie_recommendation_with_kfp_and_vertex_sdk	@yinghsienwu
/community-content/pytorch_text_classification_using_vertex_sdk_and_gcloud		@RajeshThallam @ultrons



# Official Community Content
